* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    background-color: #3D60D9;
}

.top {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0 10% 0;
}

header span, nav, button {
    border: 1px solid black;
    height: 100%;
}

.top .logo {
    width: 30%;
    background-color: yellow;
}

header nav{
    width: 40%;
    background-color: white;
}

header .btn{
    width: 30%;
    background-color: yellowgreen;
}

.illustrazione {
    width: auto;
    height: 500px;
    background-color: burlywood;
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrazione {
    display: flex;
    flex-direction: column;
}

main h1 {
    height: 100px;
    width: 300px;
    background-color: aliceblue;
}

main p {
    height: 100px;
    width: 300px;
    background-color: darkorange;
}

.bottoni {
    height: 100px;
    width: 300px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}