* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

header, main {
    background-color: #3D60D9;
}

.top {
    display: flex;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    margin: 0 10% 0;
}

header span, nav, button {
    border: 1px solid black;
    height: 100%;
}

.top .logo {
    width: 30%;
    background-color: yellow;
}

header nav{
    width: 40%;
    background-color: white;
}

header .btn{
    width: 30%;
    background-color: yellowgreen;
}

.illustrazione {
    width: auto;
    height: 500px;
    background-color: burlywood;
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

main h1 {
    height: 100px;
    width: 66%;
    background-color: aliceblue;
}

main .uno {
    height: 100px;
    width: 66%;
    background-color: grey;
}

.bottoni {
    height: 100px;
    width: 66%;
    background-color: bisque;
    display: flex;
    justify-content: center;
}

main div h2 {
    height: 200px;
    width: 320px;
    background-color: yellow;
}

.illustrazione-due {
    width: auto;
    height: 500px;
    background-color: lightgrey;
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrazione-due img {
    height: 300px;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: row;
}


main .illustrazione-due p {
    height: 100px;
    width: 320px;
    backdrop-filter: lightgrey;
}

.illustrazione-tre {
    width: auto;
    height: 500px;
    background-color: white;
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrazione-tre img {
    height: 300px;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: row;
}


main .illustrazione-tre p {
    height: 100px;
    width: 320px;
    backdrop-filter: lightgrey;
}

.illustrazione-quattro {
    width: auto;
    height: 500px;
    background-color: lightgrey;
    margin: 0 10% 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustrazione-quattro img {
    height: 300px;
    width: 33%;
    background-color: white;
    display: flex;
    flex-direction: row;
}


main .illustrazione-quattro p {
    height: 100px;
    width: 320px;
    backdrop-filter: lightgrey;
}


section {
    margin: 0 10% 0;
    background-color: blanchedalmond;
    height: 750px;
}


section .up {
    height: 500px;
    width: auto%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section .primo {
    background-color: yellow;
    height: 90px;
    width: 66%;
}

section .par {
    background-color: green;
    height: 90px;
    width: 66%;
}

section img {
    background-color: blue;
    height: 200px;
    width: 66%;
}

.bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    width: auto;
    flex-direction: column;
}

section button {
    height: 100px;
    width: 66%;
    background-color: azure;
}

section h3 {
    height: 100px;
    width: 66%;
    background-color: beige;
}

footer {
    background-color: black;
    height: 500px;
    width: auto;
    margin: 0 10% 0;
}

.foot {
    height: 350px;
    width: auto;
    background-color: whitesmoke;
}


.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.foot div {
    height: 330px;
    width: 30%;
    border: 1px solid red;
}

.foot nav {
    height: 330px;
    width: 17.5%;
    border: 1px solid red;
}

.end {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150px;
    width: auto;
    background-color: rebeccapurple;
}

.end .logo-2 {
    height: 150px;
    width: 200px;
    background-color: blue;
}

.end button {
    height: 150px;
    width: 200px;
    background-color: blue;
}