* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    display: flex;
    height: 100px;
    background-color: #3D60D8;
    justify-content: space-around;
    align-items: center;
}

.top .logo {
    height: 80px;
    width: 80px;
    background-color: white;
}

header ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
}